* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.buttons {
    display: flex;
    flex-grow: 0;
    height: 30px; 
}

.node {
    border: 1px solid black;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

.node-visited {
    background-color: lightgrey;
}

.node-wall {
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1.5rem);
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
 
.node-end {
    background-color: orange;
}
.node-start {
    background-color: lightgreen;
}

.node-weight {
    background-color: purple;
}

.info{
    height: 600px;
    overflow-y: scroll;
}